<!--snippet edit navigation here-->
<snippet-edit-nav-component [hidden]="!loginCheck()" [SNIPPETS]="SNIPPETS"></snippet-edit-nav-component>

<div class="container main-container">
  <div class="row">
    <div class="col">
    <h1 #titleText [ngClass]='{"animated fadeIn":menuIsSelected}' class="title text-center">Snippet Repository / {{currentSgroup.groupName}}</h1>
    <h5 [ngClass]='{"animated fadeIn":menuIsSelected}' class="title text-center">a simple description here for each new snippet group</h5>
    <br/>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-md-3 push-md-9 bd-sidebar">
      <snippet-rep-sidebar (selectClick)="select($event)" [SNIPPETS]="SNIPPETS"></snippet-rep-sidebar>
    </div>
    <div class="col-12 col-md-9 pull-md-3 bd-content">
      <div class="animated fadeIn" *ngFor="let snippet of currentSgroup.snippets">
        <h3 class="editable" [(contenteditableModel)]="snippet.titleText" ></h3>
        <div *ngFor="let element of snippet.elements">
          <h1 *ngIf="element.type == 'h1'"  class="editable" [(contenteditableModel)]="element.text"></h1>
          <p *ngIf="element.type == 'p'"  class="editable" [(contenteditableModel)]="element.text"></p>
          <!--<pre *ngIf="element.type == 'pre'"  class="editable">-->
          <!--  <code [(contenteditableModel)]="element.text"></code>-->
          <!--</pre>-->
          <pre *ngIf="element.type == 'pre'" class="prettyprint"><code [(contenteditableModel)]="element.text"></code></pre>
        </div>
        
        <div [hidden]="!loginCheck()" class="edit-snippet-controls">
          <button class="btn btn-primary" (click)="snippetUp(snippet)">Move Up</button>
          <button class="btn btn-primary" (click)="snippetDown(snippet)">Move Down</button>
        </div>
        
        <hr>
        
      </div>
    </div>
  </div>
</div>