<div class="container">
  <div class="row">
    <div class="col">
        <button (click)="enable()">Enable</button>
        <button (click)="disable()">Disable</button>
    <h1 class="title">{{currentSgroup.groupName}}</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-2">
      <snippet-rep-sidebar (selectClick)="select($event)" [SNIPPETS]="SNIPPETS"></snippet-rep-sidebar>
    </div>
    <div class="col">
      <div *ngFor="let snippet of currentSgroup.snippets">
        <h3  class="editable" [(contenteditableModel)]="snippet.titleText" ></h3>
        <p  class="editable" [(contenteditableModel)]="snippet.topNoteText"></p>
        <pre class="prettyprint editable" [(contenteditableModel)]="snippet.codeText"></pre>
        <p  class="editable" [(contenteditableModel)]="snippet.bottomNoteText"></p>
      </div>
    
    <button (click)="checkObject()" type="button" class="btn btn-primary">Primary</button>
      
    </div>
  </div>
</div>