

<div [style.background-position]="dynamicBannerBackground" id="banner">
	<div [style.margin-top]="dynamicMarginTop"[style.opacity]="dynamicOpacity"  id="bannertext">
		<h3>WELCOME</h3>
		<p><button (click)="loginWindow=true" id='login_button' class="button success block-shadow-success text-shadow">Login</button></p>
	</div>
</div>

       <div class='main_body_container'>
        <!--<div class="margin20 no-margin-left no-margin-right sub-header text-light">-->
        <!--    Metro UI CSS includes a responsive fluid grid system that appropriately scales up to 12 columns. It includes predefined classes for easy layout options.-->
        <!--</div>-->
    
    <!--Features described-->
    <h3>Expectations?</h3>
            <hr>
            <div class="grid demo-grid">
                
                <div class="row cells4">
                    
                    <div class="cell">
                        <div id="box1" class="box blurred-bg tinted">
                                  <div class="content">
                                    <h1><span class="mif-feed"></span></h1>
                                    <p>One</p>
                                  </div>
                                </div>
                    </div>
                    <div class="cell">
                               <div id="box1" class="box blurred-bg tinted">
                                  <div class="content">
                                    <h1><span class="mif-notification"></span></h1>
                                    <p>Two</p>
                                  </div>
                                </div>
                    </div>
                    <div class="cell">
                                  <div id="box1" class="box blurred-bg tinted">
                                  <div class="content">
                                    <h1><span class="mif-database"></span></h1>
                                    <p>Three</p>
                                  </div>
                                </div>
                    </div>
                    <div class="cell">
                                 <div id="box1" class="box blurred-bg tinted">
                                  <div class="content">
                                    <h1><span class="mif-file-picture"></span></h1>
                                    <p>Four</p>

                                  </div>
                                </div>
                        
                    </div>
                </div>
            </div>
 
        
        
    </div> <!--end of main_body_container-->
<footer><br/><br/>Deniss Strods 2017</footer>



            <!--LOGIN FORM HERE -->
<div class='login-cover'>
    <div *ngIf='loginWindow' class="login-form padding20 block-shadow animated flipInX" >
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <h1 class="text-light">Login to service</h1>
            <hr class="thin"/>
            <em *ngIf="!validLogin">Username or password incorrect</em>
            <br />
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">User email:</label>
                
                <input formControlName="username" type="text" name="username" id="user_login">
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
                <em *ngIf="username.invalid && username.dirty">Required</em>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <label for="user_password">User password:</label>
                
                <input formControlName="password" type="password" name="password" id="user_password">
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                <em *ngIf="password.invalid && password.dirty">Required</em>
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button [disabled]="loginForm.invalid"  type="submit" class="button primary">Login to my cam</button>
                <button (click)="loginWindow=false" id='cancel_login_button' type="button" class="button link">Cancel</button>
                
            </div>
        </form>
    </div>
</div>
    
