 <!-- Main component for a primary marketing message or call to action -->
<div class="container">
  <div class="row">
    <div class="col-10">
      (wider) cxz cxz cxz cxz cxz cxz cxzzcx cxz cxz cxz cxz cxz cxz cxz cxz cxz cxz cxz cxz dsa dsadsa  dsa dsa dsa dsa dsa dsa dsa dsa dsa
    </div>
    <div class="col">
      1 of 3 cxz cxz cx cxz cxz cxz cxzcxz cxz cxzzcx cxz cxz cxz cxz cxz
    </div>
  </div>
  <div class="row">
    <div class="col">
     <pre class="prettyprint"><code class="javascript">{{code}}</code></pre>
    </div>
  </div>
</div>



