 <!-- Main component for a primary marketing message or call to action -->
<content-edit-nav *ngIf="loginCheck()" (editClick)="editClick()" (disableClick)="disableClick()" (saveClick)="saveClick()"></content-edit-nav>

<div class="container main-container">
  <div class="row">
    <div class="col">
      <ul>
      <li *ngFor="let post of blogPostList"><a [routerLink]="['/blog-posts',post._id]" >{{post.title}}</a></li>
      </ul>
     <button (click)="testPost()" type="button" class="btn btn-warning">Add Post new Post</button>
    </div>
  </div>
</div>



