<nav class="nav flex-column">
  <form class="bd-search hidden-sm-down">
  <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
  <div class="dropdown-menu bd-search-results" id="search-results"></div>
  </form>
  <br>
  <button [hidden]="!showElementTools" *ngIf="loginCheck()"  type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#createSnipperGroup"><i class="fa fa-plus" aria-hidden="true"></i> Add Element</button>
  <div *ngFor="let group of SNIPPETS" [ngClass]="{'border': loginCheck()&&showElementTools}" >
    <ul class="list-group">
      <a class="nav-link hand main-menu-e" [routerLink]="['/snippet-repository',group.id]">
      <li class="list-group-item justify-content-between list-group-item-action" [ngClass]="{'active': group.id == currentlySelected.id}">
            <div [hidden]="!showElementTools" *ngIf="loginCheck()" class="controls">
              <button (click)='remove(element,snippet.elements)' type="button" class="btn btn-secondary btn-sm"><i class="fa fa-times" aria-hidden="true"></i></button>
              <button (click)='moveUp(element,snippet.elements)' type="button" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
              <button (click)='moveDown(element,snippet.elements)' type="button" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
            </div>
      {{group.groupName}}
      <span class="badge badge-default badge-pill">{{group.snippetCounter}}</span>
      </li>
      </a>
    </ul>
      <ul class="list-group">
        <li class="list-group-item justify-content-between sub-menu-e list-group-item-action" *ngFor="let snippet of currentlySelected.snippets" [hidden]="group.id !== currentlySelected.id">
           <a class="animated fadeIn" class="nav-link hand" (click)="scrollTo(group.group + '-' + snippet.id)">{{snippet.titleText}}</a>
        </li>
      </ul>
     
  </div>
  
  
  
</nav>

<!--NEW SNIPPET CREATION MODAL HERE-->
<!-- Modal -->
<div class="modal fade" id="createSnipperGroup" tabindex="-1" role="dialog" aria-labelledby="createSnipperGroup" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Snippet Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      <form [formGroup]="createSGroup" >
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Snippet Group Name:</label>
            <em class="error animated fadeIn" [hidden]="validInputField(snippetGroupName)">This field is required</em>
            <input type="text" class="form-control" formControlName="snippetGroupName" name="snippetGroupName">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Snippet Group description:</label>
            <em class="error animated fadeIn" [hidden]="validInputField(snippetGroupDescription)">This field is required</em>
            <textarea class="form-control" formControlName="snippetGroupDescription" name="snippetGroupDescription"></textarea>
          </div>
         </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button [disabled]="createSGroup.invalid" (click)='createSnippetGroup(createSGroup.value)' type="submit" type="button" class="btn btn-primary" data-dismiss="modal">Create New</button>
     </div>
    </div>
  </div>
</div>

