.blog-meta{
    padding: .6em 0 1.2em 0;
    color: #aaa;
    font-weight: 400;
    font-size: .8em;
    letter-spacing: 1px;
    text-align:center;
    line-height: 1.9;
    font-family: 'Lora', Georgia, serif;
}
.switcher-background{background-color: #f6f8fa;}
.border{border:1px solid gray;margin-bottom:5px;}
.controls button {float:right;margin-bottom:10px;}
.controls {height: 0px; position: absolute; z-index: 100; width: 94%;}
.title{
    text-align: center;
    font-family: 'Aller', serif;
}
.sub-title{
    text-align: center;
    font-family: 'Aller', serif;
}
.draft{color:red;}