<div [ngClass]="[currentUser.appSettings.navbarColourScheme.class]" class="app-bar" data-role="appbar">
        <a class="app-bar-element branding">BabyCam</a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li><a [routerLink]="['/home']">Video Feed</a></li>
            <li><a [routerLink]="['/pictures']">Galery</a></li>
        </ul>
        <!--<div  class="app-bar-pullbutton" data-toggle="collapse" data-target="#smallMenu">-->
        <!--Menu-->
        <!--    <span class="mif-plus"></span>-->
        <!--</div>-->
            

        
        

        <div class="app-bar-element place-right">
            <span class="dropdown-toggle"><span class="mif-cog"></span>Welcome {{currentUser.userName}}</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
                <h2 class="text-light">Quick settings</h2>
                <ul class="unstyled-list fg-dark">
                    <li><a (click)="showSettings()"class="fg-white1 fg-hover-yellow" >Settings</a></li>
                    <li><a (click)="showColourScheme()" class="fg-white1 fg-hover-yellow">Colour Scheme</a></li>
                    <li><a (click)="logout()"class="fg-white3 fg-hover-yellow">Logout</a></li>
                </ul>
            </div>
        </div>
        
        <div class="app-bar-element place-right">
            <span class="app-bar-pullbutton dropdown-toggle"><span class="mif-list"></span>Menu ..</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
                <h2 class="text-light">Menu Items</h2>
                <ul class="unstyled-list fg-dark">
                                <li><a class="fg-white1 fg-hover-yellow" [routerLink]="['/home']">Video Feed</a></li>
                                <li><a class="fg-white1 fg-hover-yellow" [routerLink]="['/pictures']">Galery</a></li>
                </ul>
            </div>
        </div>
        
</div>
            
            
              <!--<div id="smallMenu" class="collapse">-->
              <!--    <div class="app-bar" data-role="appbar">-->
              <!--    <ul class="app-bar-menu">-->
              <!--      <li><a [routerLink]="['/home']">Video Feed</a></li>-->
              <!--      <li><a [routerLink]="['/pictures']">Galery</a></li>-->
              <!--      </div>-->
              <!--  </ul>-->
              <!--</div>-->
            


<div #charm data-role="charm" data-position="bottom">
    <h3 class="text-light">Background Colour Schemes</h3>
        <hr class="thin"/>
        <br />
        <div class="schemeButtons">
            <div *ngFor="let color of colors" class="button square-button" (click)="changeColour(color)"[ngStyle]="{'background-color':color}"></div>
            <div class="button square-button" (click)="changeColour('#71b1d1')"[ngStyle]="{'background-color':'#71b1d1'}"></div>
        </div>
        <h3>Navbar colors</h3>
        <hr class="thin"/>
        <br />
        <div class="schemeButtons">
            <div *ngFor="let navbarColor of navbarColors" class="button square-button" (click)="changeNavbarColour(navbarColor)"[ngStyle]="{'background-color':navbarColor.color}"></div>
        </div>
</div>
