<div class="container-fluid">
  <div class="row">
    <div class='col'>
      <div class='banner'>
      </div>
    </div>
  </div>
</div>


<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Who am I</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/snippet-repository']">Snippet Repository</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Blog Posts</a>
    </li>
  </ul>
</nav>